05_02_crud_app_1/__pycache__/app.cpython-37.pyc
05_02_crud_app_1/__pycache__/app.cpython-37.pyc
05_02_crud_app_1/migrations/__pycache__/env.cpython-37.pyc
05_02_crud_app_1/migrations/versions/021ca68f416b_.py
05_02_crud_app_1/migrations/versions/__pycache__/021ca68f416b_.cpython-37.pyc
05_02_crud_app_1/__pycache__/app.cpython-37.pyc
05_02_crud_app_1/__pycache__/app.cpython-37.pyc
